html, body {
  height: 100%;
}
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.logo small {
  color: #888;
  display: block;
}
.container {
  max-width: 970px !important;
}
.headline {
  padding: 20px 10px;
  text-align: center;
}
.section, .carousel {
  text-transform: none !important;
  margin: 20px 0;
}
.main {
  height: 100%;
}
.navbar-inverse .nav > li > a {
  border: none !important;
}
.alert {
  margin-top: 10px;
  font-size: 78%;
  padding: 5px 10px ;
}

.bot-right-nav {
	position:fixed;
	right:20px;
	bottom:0;
}
.bot-left-nav {
	position:fixed;
	left:20px;
	bottom:0;
}
ul.nav { list-style: none; position: relative; float: left; display: block; left: 50%; }
ul.nav > li { position: relative; float: left; display: block; right: 50%; }